<!DOCTYPE html>

<html lang="en" data-template="vertical-menu-template-free" class="light-style customizer-hide" dir="ltr"
  data-theme="theme-default">

<!--

  -->

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Login</title>
  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/admin/assets/vendor/css/pages/page-auth.css" />
</head>

<body id="body">
  <!-- Content -->

  <div class='container-xxl '>
    <div class="authentication-wrapper authentication-basic container-p-y ">
      <div class="authentication-inner ">
        <!-- Register -->
        <div class="card glassy-div">
          <div class="card-body ">

            <!-- /Logo -->
            <div>
              <h3 class="orangeTextColor text-center fw-bolder">Fresh</h3>
              <h4 class="mb-2 text-center">Reset password</h4>
            </div>
            <div class="d-flex jus justify-content-center">
              <span id="serverErrorMessage"></span>
            </div>

            <form id="formAuthentication" class="mb-3">
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span id="small" class="opacity-0"> </span>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="confirmPassword">Confirm password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="confirmPassword" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span id="small" class="opacity-0"> </span>
              </div>
              <button id="resetPasswordBtn" class="btn btn-primary d-grid w-100" disabled>Reset password</button>

            </form>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>




  <!-- * form validation script -->
  <% scriptBlock=` 
      <script src="/static/auth/scripts/resetPassword.js"></script>
    `
    %>
</body>

</html>