<!DOCTYPE html>

<html lang="en" data-template="vertical-menu-template-free" class="light-style customizer-hide" dir="ltr"
  data-theme="theme-default">

<!--

  -->

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Login</title>
  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/admin/assets/vendor/css/pages/page-auth.css" />
</head>

<body id="body">
  <!-- Content -->

  <div class='container-xxl  <%= isAdmin ? "loginContainer" : ""%>  '>
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">

            <!-- /Logo -->
            <%if (isAdmin) {%>
              <h4 class="mb-2">Admin Login</h4>
              <% }else { %>
                <h4 class="mb-2">Login</h4>
                <p class="mb-4">Please sign-in to your account and start the adventure</p>
              <% } %>
                  <div class="d-flex jus justify-content-center">
                    <span id="serverErrorMessage"></span>
                  </div>

                  <form id="formAuthentication" class="mb-3">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email or Username</label>
                      <input type="text" class="form-control" id="email" name="email-username"
                        placeholder="Enter your email or username" autofocus />
                      <span id="small" class="opacity-0"></span>
                    </div>
                    <div class="mb-3 form-password-toggle">
                      <div class="d-flex justify-content-between">
                        <label class="form-label" for="password">Password</label>
                        <a href="auth-forgot-password-basic.html">
                          <small>Forgot Password?</small>
                        </a>
                      </div>
                      <div class="input-group input-group-merge">
                        <input type="password" id="password" class="form-control" name="password"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                          aria-describedby="password" />
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                      </div>
                      <span id="small" class="opacity-0"> </span>
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="remember-me" />
                        <label class="form-check-label" for="remember-me"> Remember Me </label>
                      </div>
                    </div>
                    <div class="mb-3">
                      <button id="submitBtn" class="btn d-grid w-100 <%= isAdmin  ? 'btn-primary' : 'btn-success' %> "
                        onsubmit="submit" disabled>
                        Login
                      </button>
                    </div>
                  </form>
                  <!-- * oauth providers -->
                  <% if(!isAdmin) {%>
                    <div class="d-flex justify-content-center">
                      <a class="btn btn-light " href="/auth/google/">
                        <i class="fa-brands fa-google"></i>
                      </a>
                      <a class="btn btn-light " href="/auth/facebook/">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                    </div>
                    <% } %>

                      <% if(!isAdmin){ %>
                        <p class="text-center">
                          <span>New on our platform ? </span>
                          <a href="/auth/signup">
                            <span>Create an account</span>
                          </a>
                        </p>
                        <% }%>

                          <% if(!isAdmin){ %>
                            <p class="text-end">
                              <a href="/auth/admin/login">
                                <span>admin login</span>
                              </a>
                            </p>
                            <% } else { %>
                              <p class="text-end">
                                <a href="/auth/login">
                                  <span>user login</span>
                                </a>
                              </p>
                              <% } %>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>


  <!-- * passing isAdmin variable to script -->
  <% if(isAdmin) { %>
    <script> isAdmin = true</script>
    <% } else {%>
      <script> isAdmin = false</script>
  <% }%>
        
        <!-- * form validation script -->
        <% scriptBlock = `
          <script src="/static/auth/scripts/loginScript.js"></script>`
        %>
</body>

</html>