<!DOCTYPE html>

<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default"
  data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Signup</title>

  <meta name="description" content="" />

  <link rel="stylesheet" href="/static/admin/assets/vendor/css/pages/page-auth.css" />
</head>

<body>
  <!-- Content -->

  <div class="container-xxl authContainer">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card glassy-div">
          <div class="card-body">
            <!-- Logo -->

            <!-- /Logo -->
            <h3 class="orangeTextColor text-center fw-bolder">Fresh</h3>
            <h4 class="mb-2 text-center">Sign up</h4>
            <h5 class="mb-2 text-center">Adventure starts here 🚀</h5>
            <p class="mb-4">Make your app management easy and fun!</p>
            <div class="d-flex jus justify-content-center">
              <span id="serverErrorMessage"></span>
            </div>

            <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" autofocus />
                <span id="small" class="opacity-0"> </span>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                <span id="small" class="opacity-0"> </span>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">Password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span id="small" class="opacity-0"> </span>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="confirmPassword">Confirm password</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="confirmPassword" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <span id="small" class="opacity-0"> </span>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="referralCode">referral code</label>
                <input type="text" id="referralCode" class="form-control" name="referralCode"
                  aria-describedby="referralCode" />
                <span id="small" class="opacity-0"> </span>
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                  <label class="form-check-label" for="terms-conditions">
                    I agree to
                    <a href="javascript:void(0);">privacy policy & terms</a>
                  </label>
                </div>
              </div>
              <button id="signupBtn" class="btn btn-success d-grid w-100" disabled>Sign up</button>
            </form>

            <p class="text-center">
              <span>Already have an account?</span>
              <a href="/auth/login">
                <span>Sign in instead</span>
              </a>
            </p>
          </div>
        </div>
        <!-- Register Card -->
      </div>
    </div>
  </div>

  <!-- / Content -->

  <!-- * variable -->
  <script> isVerifyOtp = false </script>

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <!-- <script src="/static/admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/admin/assets/vendor/libs/popper/popper.js"></script>
  <script src="/static/admin/assets/vendor/js/bootstrap.js"></script>
  <script src="/static/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/static/admin/assets/vendor/js/menu.js"></script>
  <script src="/static/admin/assets/js/main.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script> -->

  <!-- * signup validation script -->
  <% scriptBlock=` <script src="/static/auth/scripts/signupScript.js">
    </script>`
    %>
</body>

</html>