<!DOCTYPE html>

<html lang="en" data-template="vertical-menu-template-free" class="light-style customizer-hide" dir="ltr"
  data-theme="theme-default">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Verify email</title>

  <meta name="description" content="" />
  <link rel="stylesheet" href="/static/admin/assets/vendor/css/pages/page-auth.css" />
</head>

<body id="body">
  <!-- Content -->

  <div class='container-xxl    '>
    <!-- * alert -->
    <div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
      <div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
      </div>
    </div>
    <!-- * alert end -->
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">

            <!-- /Logo -->

            <h4 class="mb-2">Enter OTP to verify email</h4>
            <div class="d-flex jus justify-content-center">
              <span id="serverErrorMessage"></span>
            </div>

            <form id="formAuthentication" class="mb-3">
              <div class="mb-3">
                <label for="otp" class="form-label">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter your otp " autofocus />
                <span id="small" class="opacity-0"> </span>
              </div>

              <button id="signupBtn" class="btn btn-success d-grid w-100 " onsubmit="submit" disabled>
                Verify otp
              </button>
          </div>
          </form>


          <!-- * timer and resend btn -->
          <div class="pb-2 px-4 d-flex justify-content-between align-items-center">
            <p class="d-flex justify-content-center gap-2">
              time left
              <span id="timer" class=" justify-content-center">time left</span>
            </p>
            <p>
              <a class="btn btn-light disabled" id="resendOtp" class="cursor-pointer">
                <span>resend OTP</span>
              </a>
            </p>
          </div>

        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
  </div>


  <!-- * variable -->
  <script> isVerifyOtp = true </script>


  <!-- Core JS -->
  <!-- <script src="/static/admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/static/admin/assets/vendor/libs/popper/popper.js"></script>
  <script src="/static/admin/assets/vendor/js/bootstrap.js"></script>
  <script src="/static/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/static/admin/assets/vendor/js/menu.js"></script>
  <script src="/static/admin/assets/js/main.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script> -->

  <!-- * form validation script -->
  <% scriptBlock=` <script src="/static/auth/scripts/signupScript.js">
    </script>`
    %>
</body>

</html>