.authContainer {
  background-color: #FFF5EE;
}

.navbarColor {
  background-color: #051922
}

/* 
.categoryBar{
  height: auto;

} */

.orangeTextColor {
  color: #F28123
}


.marginTopForBody {
  margin-top: 200px
}

.cardStoke {
  border: 1px solid #D5D9D9;
  border-radius: 15px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.cardStroke:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}


.cardImageContainer {
  width: 160px;
  height: 160;
}

.cardImage {
  width: 160px;
  height: 160;
  padding: 12px;
  object-fit: cover;
  overflow: hidden,

}

.textLineTrough {
  text-decoration: line-through;
}

.scrollContainer {
  overflow: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.scroll-content {
  display: flex;
}

.scroll-item {
  min-width: 200px;
  /* adjust based on your content */
  margin-right: 10px;
}


.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-button.left {
  left: -4%;
}

.scroll-button.right {
  right: -4%;
}

.priceTextColor {
  color: #CC0C39;
}

/* * home end */

/* * single product */

.productMainImage {
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.cardStokeSmallImage {
  border-radius: 15px;
}


.productMainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.sticky {
  position: sticky;
}

.singleProductContainer,
.profileContainer {
  position: relative !important;
  min-height: 100vh;
  justify-content: center;
}


.productImageSection {
  position: sticky !important;
  top: 100px;
  left: 0;
  align-self: flex-start;
}

.productDetailsList {
  list-style: none;
}

.divider {
  padding: 0.5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* * rating  */
.ratingSection {
  position: sticky !important;
  top: 150px;
  left: 0;
  align-self: flex-start;
}

/* * profile */
.userBtnCard {
  background-color: #F0F2F2;
  width: 350px;
}

.btnTitle {
  line-height: 0.5rem;
}

/* * address add card */
.addAddressCard {
  background-color: #F0F2F2;
}

/* * cart  */
.cartImage {
  width: 160px;
  height: 160;
  padding: 12px;
  object-fit: cover;
  overflow: hidden,
}

#qtyDropDownUl {
  max-height: 150px;
  overflow-y: scroll;
}

#priceDetails {
  max-height: 225px;
  overflow: auto;
}

/* * checkout  */

.addressTitle {
  background-color: #F0F2F2;
}

.form-check-input{
  width: 20px;
  height: 20px;
}


/* * profile orders page */
.imageCollection {
  width: 100px;
  height: 100px;
}

.imageCollection img{
  width: 50%;
  height: 50%;
}

/* * order details */
.orderDetailsImage{
  width: 200px;
  height: 200px;
}