.authContainer {
  background-color: #FFF5EE;
}

.navbarColor {
  background-color: #051922
}

.orangeTextColor {
  color: #F28123
}

.marginTopForBody {
  margin-top: 200px
}

.cardStoke {
  border: solid #D5D9D9;
  border-radius: 15px;
}

.cardImageContainer {
  width: 160px;
  height: 160;
}

.cardImage {
  width: 160px;
  height: 160;
  padding: 12px;
  object-fit: cover;
  overflow: hidden,

}

.textLineTrough {
  text-decoration: line-through;
}

.scrollContainer {
  overflow: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.scroll-content {
  display: flex;
}

.scroll-item {
  min-width: 200px;
  /* adjust based on your content */
  margin-right: 10px;
}


/* * single product */

.productMainImage {
  width: 450px;
  height: 450px;
  overflow: hidden;
  border: solid #D5D9D9 2px;
  border-radius: 15px;
  position: relative;
}

.cardStokeSmallImage {
  border: solid #D5D9D9 2px;
  border-radius: 15px;
}


.productMainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.sticky{
  position: sticky;
}

.singleProductContainer{
  position: relative !important;
  min-height: 100vh;
  justify-content: center;
}


.productImageSection {
  position: sticky !important;
  top:100px;
  left: 0;
  align-self: flex-start;
}

.productDetailsList{
  list-style: none;
}

.divider{
  padding: 0.5px;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* * rating  */
.ratingSection{
  position: sticky !important;
    top: 150px;
    left: 0;
    align-self: flex-start;
}