<body>

  <!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
      <div class="circle"></div>
    </div>
  </div>
  <!--PreLoader Ends-->


  <!-- payment failed  -->
  <div class="full-height-section error-section">
    <div class="full-height-tablecell">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="error-text">
              <div class="d-flex justify-content-center align-self-center">
                <img src="/static/user/assets/img/paymentSuccessImage.png" />
              </div>
              <h1>Payment Success</h1>
              <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-lg btn-warning rounded-pill mr-4">
                  <span class="text-black ">continue Shopping</span>
                </a>
                <a href="/profile/orders" class="btn btn-lg btn-warning rounded-pill">
                  <span class="text-black ">go to orders</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end payment failed  -->


  <% scriptBlock=` ` %>


</body>