<!-- header -->

<div class="top-header-area navbarColor" id="sticker">
  <!-- * top nav start -->
  <div class="container w-100 justify-content-between align-items-center d-lg-flex d-none" id="navbarTop">
    <a href="/">
      <h3 class="orangeTextColor">Fresh</h3>
    </a>
    <div>
      <a class="h5 text-white text-truncate" href="/profile/address" style="max-width: 200px;">Address</a>
    </div>

    <!-- * search bar --> 
    <div class="input-group mb-3 w-50 rounded-5 ">
      <input type="text" class="form-control rounded-5" id="searchInput" placeholder="search">
      <button  class="input-group-text btn btn-sm"  id="searchBtn">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="header-icons d-flex">
      <div class="dropdown">
        <a id="navUserDropdown" class="btn btn-outline-secondary dropdown-toggle rounded-pill "
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user "></i>
        </a>
        <ul class="dropdown-menu" id="navUserDropdown">
          <li id="loginSection" class="" >
            <a class="dropdown-item text-secondary text-center " href="auth/login">Login</a>
            <a class="dropdown-item text-secondary text-center " id="logoutBtn" style="display: none;">Logout</a>
          </li>
          <li id="userSection" style="display: none;">
            <a href="/profile" class="dropdown-item text-secondary text-center " id="userName"></a>
            <a class="dropdown-item text-secondary text-center " id="logoutBtn2">Logout</a>
          </li>
          
        </ul>
      </div>
      <!-- *cart btn -->
      <a class="text-white" href="/cart/">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>

  </div>
  <!-- * top nav end -->

  <!-- * bottom nav start -->
  <div class="container " id="categoryBar">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">

          <!-- * categories start -->
          <nav class="main-menu h-50">
            <ul>
              <li><a href="/">Home</a> </li>
              <li><a href="/products">All categories</a></li>
              <li><a href="/cart">Cart</a></li>
              <li><a href="/profile/wishlist">Wishlist</a></li>
              <li><a href="/profile/coupons">Coupons</a></li>
              <li><a href="/profile/orders">Orders</a></li>
              <li><a href="/profile/wallet">Wallet</a></li>
              <li><a href="/profile">profile</a></li>
              <li class="d-flex d-md-none"><a href="/auth/login" id="loginBtnNavBottom">login</a></li>
              <li></li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!--* categories end -->
        </div>
      </div>
    </div>
  </div>
  <!-- * bottom nav start -->

</div>
<!-- end header -->

<!-- * search smaller screen-->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input id="searchInputSm" type="text" placeholder="Keywords">
            <button class="btn btn-outline-warning rounded-pill btn-lg" id="searchBtnSm">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *search smaller screen end-->