<!-- header -->
<link rel="stylesheet" href="/static/user/css/style.css">



<div class="top-header-area navbarColor" id="sticker">

  <div class="container w-100 justify-content-between align-items-center d-lg-flex d-none">
    <a href="/">
      <h3 class="orangeTextColor">Fresh</h3>
    </a>
    <div>
      <h5 class="text-white text-truncate" style="max-width: 200px;">Delivery to Ernakulam 131231 ada</h5>
    </div>

    <div class="input-group mb-3 w-50 rounded-5 ">
      <input type="text" class="form-control rounded-5" placeholder="search">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div class="header-icons d-flex" >
      <div class="dropdown">
        <a id="navUserDropdown" class="btn btn-outline-secondary dropdown-toggle rounded-pill " 
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user "></i>
        </a>
        <ul class="dropdown-menu  " id="navUserDropdown">
          <li id="loginSection">
            <a class="dropdown-item text-dark" href="auth/login">Login</a>
            <a class="dropdown-item text-dark" id="logoutBtn" style="display: none;">Logout</a>
          </li>
          <li id="userSection" style="display: none;">
            <span class="dropdown-item text-dark" id="userImage"></span>
            <a class="dropdown-item text-dark" id="logoutBtn2">Logout</a>
          </li>
        </ul>
      </div>
      <a class="text-white">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->

          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a href="#">Home</a>
                <ul class="sub-menu">
                  <li><a href="index.html">Static Home</a></li>
                  <li><a href="index_2.html">Slider Home</a></li>
                </ul>
              </li>
              <li><a href="about.html">Groceries</a></li>
              <li><a href="#">Home & kitchen</a>
                <ul class="sub-menu">
                  <li><a href="404.html">Home & kitchen</a></li>
                  <li><a href="about.html">Beauty</a></li>
                  <li><a href="cart.html">Wellness</a></li>
                  <li><a href="checkout.html">Home improvement</a></li>
                  <li><a href="contact.html">All categories</a></li>
                  <li><a href="news.html">News</a></li>
                  <li><a href="shop.html">Shop</a></li>
                </ul>
              </li>
              <li><a href="news.html">Beauty</a>
                <ul class="sub-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="single-news.html">Single News</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Wellness</a></li>
              <li><a href="shop.html">Home improvement</a>
                <ul class="sub-menu">
                  <li><a href="shop.html">All categories</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="single-product.html">Single Product</a></li>
                  <li><a href="cart.html">Cart</a></li>
                </ul>
              </li>
              <li><a href="shop.html">All categories</a>
              <li></li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->