<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>Fresh</title>
</head>

<body class="marginTopForBody">


	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->


	<!-- * alert -->
	<div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
		<div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
		</div>
	</div>
	<!-- * alert end -->


	<div class="my-5"> </div>
	<!-- product section -->
	<div class="product-section mt-150 mb-150 ">
		<div class="container mt-5 ">

			<!--  *Latest arrivals added section -->
			<section class="mt-5 position-relative">
				<h3><span class="orange-text">Latest</span> arrivals</h3>
			
				<div class="d-flex justify-content-between align-items-center my-3 topRatedBtnContainer">
					<button id="scroll-left-latest" class="btn btn-secondary rounded-pill scroll-button left"><i
							class="fas fa-chevron-left"></i></button>
					<button id="scroll-right-latest" class="btn btn-secondary rounded-pill scroll-button right"><i
							class="fas fa-chevron-right"></i></button>
				</div>
				<div class="d-flex justify-content-between scrollContainer latestScrollContainer">
					<!-- * latest arrivals added items cards will be added here jquery -->
				</div>
			</section>
			<!--  *end Latest arrivals added section -->


			<!--  *Top deals section -->
			<section class="mt-5 position-relative">
				<h3><span class="orange-text">Top</span> brands</h3>

				<div class="d-flex justify-content-between align-items-center my-3 topBrandsBtnContainer">
					<button id="scroll-left-topBrands" class="btn btn-secondary rounded-pill scroll-button left"><i
							class="fas fa-chevron-left"></i></button>
					<button id="scroll-right-topBrands" class="btn btn-secondary rounded-pill scroll-button right"><i
							class="fas fa-chevron-right"></i></button>
				</div>
				<div class="d-flex justify-content-between scrollContainer topBrandScrollContainer">
					<!-- * top brand cards will be added here jquery -->
				</div>
			</section>
			<!--  *end Top deals section -->

			<!--  *Popular section -->
			<section class="mt-5 position-relative">
				<h3><span class="orange-text">Popular</span> products</h3>
			
				<div class="d-flex justify-content-between align-items-center my-3 popularBtnContainer">
					<button id="scroll-left-popular" class="btn btn-secondary rounded-pill scroll-button left"><i
							class="fas fa-chevron-left"></i></button>
					<button id="scroll-right-popular" class="btn btn-secondary rounded-pill scroll-button right"><i
							class="fas fa-chevron-right"></i></button>
				</div>
				<div class="d-flex justify-content-between scrollContainer popularScrollContainer">
					<!-- * popular items cards will be added here jquery -->
				</div>
			</section>
			<!--  *end Popular section -->


			<!--  *Popular section -->
			<section class="mt-5 position-relative">
				<h3><span class="orange-text">Top rated</span> products</h3>
			
				<div class="d-flex justify-content-between align-items-center my-3 topRatedBtnContainer">
					<button id="scroll-left-topRated" class="btn btn-secondary rounded-pill scroll-button left"><i
							class="fas fa-chevron-left"></i></button>
					<button id="scroll-right-topRated" class="btn btn-secondary rounded-pill scroll-button right"><i
							class="fas fa-chevron-right"></i></button>
				</div>
				<div class="d-flex justify-content-between scrollContainer topRatedScrollContainer">
					<!-- * popular items cards will be added here jquery -->
				</div>
			</section>
			<!--  *end Popular section -->

			

		</div>
	</div>
	<!-- end product section -->

	

	<% scriptBlock= `
		<script src="static/user/scripts/homeScript.js"></script>
		<script src="static/user/scripts/user.js"></script>
		<script src="/static/user/scripts/cart.js"></script>
		`
	%>

</body>

</html>