name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull arun0kb/fresh:latest
    - name: Delete Old docker container
      run: sudo docker rm -f fresh-api-container || true
    - name: Run Docker Container
      run: |
          sudo docker run -d \
            --name fresh-api-container \
            -p 3000:3000 \
            --env-file ./.env \
            arun0kb/fresh:latest