<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>Single Product</title>

	<!-- * product zoom css -->
</head>

<body class="marginTopForBody">

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	

	<!-- * breadcrumbs -->
	<div class="container">
		<h3>My profile /<span class="orangeTextColor"> Coupons </span></h3>
	</div>
	<!-- * end breadcrumbs -->


	<!-- * alert -->
	<div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
		<div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
		</div>
	</div>
	<!-- * alert end -->

	<!-- * coupons  -->
	<section class="container mt-3 d-flex flex-wrap ">
		<% for(const item of coupons) {%>
		<div class="couponContainer ml-2 shadow-sm p-1" data-code="<%= item.code %>">
			<img src="<%= item.image.path %>" alt="">
		</div>
		<% } %>
	</section>
	<!-- * coupons end -->



	<% scriptBlock=` <script src="/static/user/scripts/user.js">
		</script>
		<script src="/static/user/scripts/address.js"></script>
		<script src="/static/user/scripts/coupons.js"></script>
		`
		%>

</body>

</html>