<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<title>Single Product</title>

	<!-- * product zoom css -->
</head>

<body class="marginTopForBody">

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- * breadcrumbs -->
	<div class="container">
		<h3>My profile /<span class="orangeTextColor"> Edit user </span></h3>
	</div>
	<!-- * end breadcrumbs -->


	<!-- * user buttons -->
	<div class=" container d-sm-flex justify-content-center flex-sm-row flex-cloumn col-12 my-5 ">
		<section class="container">

			<!-- * user details -->
			<div class="col-8 p-2 px-4 shadow rounded-3 mb-3 col-12  editUserCard">

				<div class="d-flex justify-content-end">
					<button id="editUserModalBtn" data-item="<%= user.userId %>" data-bs-toggle="modal"
						data-bs-target="#editModal" class="editAddressModelBtn btn btn-outline-primary">
						<i class="fa-solid fa-pen-to-square"></i>
					</button>
				</div>

				<div class="mt-5">
					<p>Name</p>
					<h5>
						<%= user.name %>
					</h5>
				</div>
				<hr />
				<div class=" ">
					<p>email</p>
					<h5>
						<%= user.username %>
					</h5>
				</div>
				<hr />

			</div>


			<!-- * edit model -->
			<div class=" modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="editModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable position-relative">

					<!-- * alert -->
					<div class="position-fixed col-10 d-flex justify-content-center" style="z-index: 10;">
						<div class="alert alert-info fade show  w-auto d-none " role="alert" id="bsAlert">
						</div>
					</div>
					<!-- * alert end -->

					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Edit user</h5>
							<button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>

						<div class="modal-body">
							<form id="editForm" method="POST" onsubmit="return false">
								<div class="row d-felx flex-column align-content-center ">
									<div class="mb-3 col-10">
										<label for="Name" class="form-label">Name</label>
										<input class="form-control" type="text" id="Name" name="name" value="" autofocus />
										<span id="small" class="opacity-0"></span>
									</div>

									<% if(user?.provider!=='google' ) {%>
										<div class="mb-3 col-10">
											<label for="username" class="form-label">email</label>
											<input class="form-control" type="text" id="username" name="username" value="" autofocus />
											<span id="small" class="opacity-0"></span>
										</div>
										<% } %>
											<hr />

											<% if(!user.provider) {%>
												<h5>change password</h5>
												<div class="mb-3 col-10">
													<label for="password" class="form-label">password</label>
													<input class="form-control" type="password" id="password" name="password" value="" autofocus />
													<span id="small" class="opacity-0"></span>
												</div>
												<div class="mb-3 col-10">
													<label for="confirmPassword" class="form-label">confirm password</label>
													<input class="form-control" type="password" id="confirmPassword" name="confirmPassword" value=""
														autofocus />
													<span id="small" class="opacity-0"></span>
												</div>
												<div class="d-flex justify-content-center">
													<a id="viewPassword" class="link-primary"> view passwords </a>
												</div>
												<% } %>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
							<button id="editUserBtn" type="submit" class="btn btn-primary">update profile</button>
						</div>
					</div>
				</div>
			</div>
			<!-- * edit modal end -->


		</section>
	</div>
	<!-- * user buttons -->


	<% scriptBlock=` <script src="/static/user/scripts/user.js">
		</script>
		<script src="/static/user/scripts/EditProfile.js"></script>
		`
		%>

</body>

</html>